<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sty
        {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <center>
        <h1>Topic table data</h1>
        <table class="sty" border="2px">
            <tr>
                <th>topic_name</th>
            </tr>

            {% for to in QSTO %}
            <tr>
                <td>{{to.topic_name}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>